@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model IEnumerable<ResidentModel>
}
<h3>Moradores</h3>
<a asp-controller="Resident" asp-action="Create">+ Adicionar Morador</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Rua</th>
            <th>Bairro</th>
            <th>Número</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var resident in Model)
        {
        <tr>
            <td>@resident.id</td>
            <td>@resident.name</td>
            <td>@resident.Address.city</td>
            <td>@resident.Address.state</td>
            <td>@resident.Address.street</td>
            <td>@resident.Address.neighborhood</td>
            <td>@resident.Address.number</td>
            <td>
                <a asp-controller="Resident" asp-action="Detail" asp-route-id="@resident.id">Visualizar</a>
                <a asp-controller="Resident" asp-action="Update" asp-route-id="@resident.id">Editar</a>
                <a asp-controller="Resident" asp-action="Remove" asp-route-id="@resident.id">Excluir</a>
            </td>
        </tr>
        }
    </tbody>
</table>

